* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorWhite: #f1f6f9;
  --colorBase: #9ba4b4;
  --colorPrimary: #394867;
  --colorFont: #14274e;
  --fontFamily: "Kanit";
}

::selection {
  background: var(--colorPrimary);
  color: var(--colorBase);
}

body {
  background-color: var(--colorBase);
  color: var(--colorFont);
  font-family: var(--fontFamily), sans-serif;
}

#mensajeSlider {
  width: 100%;
  overflow: hidden;
  z-index: 100000;
  position: fixed;
  top: 0;
  background-color: var(--colorFont);
}

#diaSemanaNav {
  text-transform: uppercase;
}

.carousel-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: var(--colorFont);
}

.carousel-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--colorBase);
  overflow: hidden;
  padding: 0.6rem 0;
  font-size: clamp(0.6rem, 2vw, 0.8rem);
}

.carousel-text:hover {
  background-color: var(--colorBase);
  color: var(--colorFont);
}

.infoSliderSticky {
  position: sticky;
  top: 0;
  z-index: 10000;
  transition: 1s;
  margin: 0 0;
  padding: 0 0;
}

/* HERO */

.slider-container-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 25vh;
  overflow: hidden;
  background-image: url(../media/img/hero/hero1.jpg);
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 100;
}

.slide-hero {
  padding: 4rem 4rem;
  background-color: transparent;
  border-radius: 5px;
}

.slide-hero h1 {
  font-size: clamp(1rem, 8vw, 6rem);
  margin: 0 0 4rem 0;
  z-index: 10000;
  font-weight: 800;
  font-style: italic;
  color: var(--colorBase);
  transition: 0.5s;

  background: linear-gradient(
    to left,
    var(--colorBase) 35%,
    rgb(255, 255, 255) 60%,
    var(--colorBase) 75%
  );
  background-size: 250% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: slideTitle 1.5s ease-in-out;
}

@keyframes slideTitle {
  0% {
    transform: translateX(-300%);
    scale: 0.7;
  }
  100% {
    transform: translateX(0);
    scale: 1;
  }
}

.slide-hero p {
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: 600;
  font-style: italic;
  color: var(--colorBase);
  animation: slideText 2.5s ease-in-out;
  margin: 5rem 20% 0;
}

@keyframes slideText {
  0% {
    transform: translateX(-300%);
    scale: 0.7;
  }
  100% {
    transform: translateX(0);
    scale: 1;
  }
}
.textoResaltado {
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  background: linear-gradient(
    to left,
    var(--colorFont) 35%,
    var(--colorBase) 50%,
    var(--colorFont) 85%
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: tittleAnimation 15s linear infinite;
}

/* nav */
.nav {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  background-color: var(--colorFont);
  color: var(--colorBase);
  width: 100%;
}

.navWidth {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  z-index: 1000;
  transition: 0.3s;
}

.underlined-hover {
  position: relative;
  text-decoration: none;
  color: var(--colorFont);
}

.underlined-hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--colorWhite); /* Color del subrayado */
  transition: 0.5s ease;
}

.underlined-hover:hover::before {
  width: 100%;
}

#botonAbrirModalNav {
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  background-color: var(--colorBase);
  color: var(--colorFont);
  border-radius: 2px;
  transition: 0.3s;
  padding: 0.5rem 1.4rem;
}

#botonAbrirModalNav:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.sticky {
  position: sticky;
  top: 2rem;
  background: var(--colorFont);
  color: var(--colorBase);
  transition: 0.2s;
  overflow: hidden;
  z-index: 1000;
}

.navList {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  align-items: center;
}

.navList ul li {
  padding: 0.8rem 1.4rem;
}

.navList li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.15s ease-in-out;
}

.navList li a {
  text-decoration: none;
  color: var(--colorTittle);
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0.8rem 1rem;
  margin: 0 0.5rem;
  border-radius: 2px;
  transition: 0.3s;
}

.navList li a:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
  transition: 0.2s;
}

.abrirMenu,
.cerrarMenu {
  display: none;
}

/* somosCodingSolutions */

#somosCodingSolutions {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#somosCodingSolutions h2 {
  font-size: clamp(1.8rem, 2vw, 2rem);
  margin: 2rem 0 4rem 0;
}

.somosCodingSolutionsContainer {
  width: 80%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.somosCodingSolutionsItem {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 3rem;
}

.somosCodingSolutionsItem img {
  max-width: 100%;
  border-radius: 2px;
}

.somosCodingSolutionsItem p {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  margin: 1rem 0;
}

.secundaryText {
  font-size: clamp(0.5rem, 2vw, 0.6rem);
  color: var(--colorPrimary);
}

/* efecto underline carga */
.underlined-hover-destacados {
  position: relative;
  text-decoration: none;
  color: var(--colorFont);
}

.underlined-hover-destacados::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--colorWhite); /* Color del subrayado */
  transition: 0.5s ease;
}

.underlined-hover-destacados:hover::before {
  width: 100%;
}

/* contacto */

#contacto {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  margin-bottom: 5rem;
  padding-bottom: 2.5rem;
  background-image: url("../media/img/hero/hero2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.contactoContainer {
  width: 60%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.contactoContainer h4 {
  color: var(--colorBase);
  font-size: clamp(1rem, 2vw, 1rem);
  margin-bottom: 1rem;
}

.contactoContainer h2 {
  color: var(--colorBase);
  font-size: clamp(1.4rem, 2vw, 4rem);
  letter-spacing: 2px;
}

#diaSemanaContacto {
  text-transform: uppercase;
}

.contactoContainer p {
  padding: 0 25%;
  text-align: start;
  color: var(--colorBase);
  margin: 1rem;
}

.contactoContainer a {
  text-decoration: none;
  padding: 10px 1.5rem;
  background-color: var(--colorBase);
  border-radius: 2px;
  margin: 2rem 0;
  transition: 0.3s;
}

.contactoContainer a:hover {
  background-color: var(--colorFont);
  transition: 0.3s;
}

.contactoContainer a:hover h3 {
  color: var(--colorBase);
  transition: 0.3s;
}

.contactoContainer a h3 {
  color: var(--colorFont);
  font-size: clamp(1rem, 2vw, 1.4rem);
  transition: 0.3s;
}

/* AVISOS */
#avisos {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#avisosContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 3.5rem 0;
  margin: 1rem 0;
  background-image: url(../media/img/hero/hero3.jpg);
}

#avisosContainer h3 {
  font-size: clamp(0.8rem, 2vw, 1rem);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--colorBase);
  background-color: var(--colorFont);
  padding: 1rem 1rem;
  word-spacing: 1px;
}

/*proyectos */

.proyectoTitle {
  text-align: center;
  margin-top: 5rem;
}

#nuestrosProyectos {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 6rem 0;
  gap: 2rem;
}

.card {
  overflow: visible;
  width: 300px;
  height: 400px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 600ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front,
.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #f1f6f9,
    #f1f6f9,
    #14274e,
    #14274e,
    transparent
  );
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.back-content img {
  position: absolute;
  width: 99%;
  height: 99%;
  filter: brightness(70%);
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
  font-size: 1.2rem;
}

.cardLinks {
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: center;
  color: var(--colorWhite);
  text-decoration: none;
  padding: 2px 5px;
  margin: 0 5rem;
  border-radius: 10px;
  background-color: #00000055;
}

.cardLinks h3 {
  font-size: clamp(1rem, 2vw, 2rem);
  background: linear-gradient(
    to left,
    var(--colorBase) 35%,
    rgb(255, 255, 255) 60%,
    var(--colorBase) 75%
  );
  background-size: 250% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: linkAnimation 4s linear infinite;
}

@keyframes linkAnimation {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 75%;
  }
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 1;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 0.8rem;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #9ba4b4;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #14274e;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #394867;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* contacto form */
#formContacto {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url(../media/img/hero/contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 3rem 1.5rem;
}

.contactoOpciones {
  color: var(--colorBase);
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
}

.contactoOpciones h3 {
  color: var(--colorWhite);
  font-size: clamp(1.4rem, 4vw, 1.8rem);
  margin: 2rem 0;
}

.contactoOpciones ul li {
  list-style: none;
  text-align: center;
}

.contactoOpciones h2 {
  color: var(--colorWhite);
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  font-weight: 500;
}

.form-container {
  max-width: 1000px;
  background: linear-gradient(#9ba4b47e, #9ba4b47e) padding-box,
    linear-gradient(145deg, transparent 75%, #10285099, #102850a1) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: rgb(208, 208, 208);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--colorWhite);
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--colorWhite);
  font-family: inherit;
  background-color: #ffffff30;
  border: 1px solid var(--colorBase);
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: var(--colorWhite);
  height: 96px;
  border: 1px solid var(--colorBase);
  background-color: #ffffff30;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: var(--colorBase);
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: var(--colorBase);
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--colorFont); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for depth */
  box-shadow: 0 0 20px rgba(234, 234, 234, 0.7); /* Sun color glow */
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  border-radius: 999px;
  overflow: hidden;
}

.btn-53 .original {
  background: #ffffff61;
  color: #fff;
  display: grid;
  place-content: center;
  position: absolute;
  inset: 0;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53 .letters {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}

.btn-53 span {
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  transition-delay: 0.1s;
}

.btn-53:hover .original,
.btn-53:hover span {
  transform: translateY(100%);
}

.btn-53:hover .letters span {
  opacity: 1;
  transform: translateY(0);
}

/* Additional CSS for spinning "U" */
.btn-53 span:first-child {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.btn-53:hover span:first-child {
  transform: rotate(360deg); /* Spin the "U" */
}

/* Adjusting nth-child delays for sequential appearance */
.btn-53:hover span:nth-child(1) {
  transition-delay: 0.1s;
}
.btn-53:hover span:nth-child(2) {
  transition-delay: 0.2s;
}
.btn-53:hover span:nth-child(3) {
  transition-delay: 0.3s;
}
.btn-53:hover span:nth-child(4) {
  transition-delay: 0.4s;
}
.btn-53:hover span:nth-child(5) {
  transition-delay: 0.5s;
}
.btn-53:hover span:nth-child(6) {
  transition-delay: 0.6s;
}
.btn-53:hover span:nth-child(7) {
  transition-delay: 0.7s;
}

footer {
  background-color: var(--colorFont);
  color: var(--colorBase);
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#footerContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-left ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-left: 2px dashed rgba(255, 255, 255, 0.4);
  padding-left: 0.5rem;
}

.footer-left ul li {
  padding: 0.5rem 0.5rem;
}

footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer nav ul li {
  display: inline;
  margin: 0.2rem 0;
  border-radius: 2px;
  width: 100%;
  text-align: start;
}

footer nav ul li a {
  color: var(--colorBase);
  text-decoration: none;
  padding: 0.5rem 2rem;
}

footer nav ul li:hover {
  background-color: var(--colorPrimary);
}

.footer-midle-info h3 {
  margin: 1rem 0 1rem 0;
}

.footer-midle-info a {
  text-decoration: none;
  color: var(--colorBase);
}

.footer-midle-info a:hover {
  text-decoration: underline;
}

.footer-midle-info p {
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0.5rem 0;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-right .social-media {
  margin-bottom: 20px;
}

.footer-right h3 {
  margin-bottom: 1rem;
}

.social-icons img {
  width: 36px;
  margin-right: 10px;
  border-radius: 100%;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-icons img {
  width: 40px;
  margin-right: 10px;
  border-radius: 2px;
}

.footer-info {
  margin-top: 2rem;
}

.footer-info p {
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0.3rem 0;
}

.subscribe {
  position: absolute;
  right: 1rem;
  height: 140px;
  width: 240px;
  padding: 20px;
  background-color: var(--colorBase);
  border-radius: 4px;
  color: var(--colorFont);
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}

.subscribe:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 18px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1a044e;
}

.subscribe p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 28px;
}

.subscribe input {
  position: absolute;
  bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--colorFont);
  padding: 10px;
  width: 82%;
  background: transparent;
  transition: all 0.25s ease;
}

.subscribe input:focus {
  outline: none;
  border-bottom: 1px solid #0d095e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    "sans-serif";
}

.subscribe .submit-btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--colorBase);
  color: var(--colorFont);
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  right: -10px;
  bottom: -20px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
}

.subscribe .submit-btn:hover {
  background-color: #07013d;
  color: var(--colorBase);
  box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}

#modalContainer {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.98);
  border-radius: 3px;
  margin: 1rem 1rem;
}

#botonAbrirModal {
  border: none;
  background-color: var(--colorFont);
  color: var(--colorBase);
}

#botonAbrirModal:hover {
  text-decoration: underline;
}

#botonCerrarModal {
  border: none;
  background-color: var(--colorFont);
  border-radius: 100%;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 2rem;
}

#botonCerrarModal2 {
  background-color: transparent;
  border: none;
}

#botonCerrarModal img {
  width: 60px;
}

#modal {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url(../media/img/hero/hero3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#modalLogo {
  width: 200px;
}

#modal h2 {
  color: var(--colorBase);
  margin-bottom: 2rem;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}

#modal h3 {
  color: var(--colorBase);
  margin: 0.5rem 0;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

#modal p {
  color: var(--colorBase);
  text-align: center;
  width: 60%;
  word-spacing: 1px;
  margin-bottom: 3rem;
}

.infoMobile {
  display: none;
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .slider-container-hero {
    height: 70vh;
  }

  .navList {
    display: flex;
    list-style-type: none;
    gap: 0;
    margin-left: 5rem;
  }
}

@media (min-width: 1001px) and (max-width: 1400px) {
  .slider-container-hero {
    height: 50vh;
  }

  #formContacto {
    height: 10vh;
  }
}

@media screen and (max-width: 800px) {
  #mensajeSlider {
    display: none;
  }

  .slider-container-hero {
    height: 100vh;
    background-position: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .slide-hero {
    width: 100%;
    height: 100%;
    padding: 0 2rem 4rem;
    background-color: transparent;
  }

  .slide-hero h1 {
    font-size: clamp(4rem, 2vw, 6rem);
    margin: 0 0 4rem 0;
    animation: slideTitle 1s ease-in-out;
  }

  @keyframes slideTitle {
    0% {
      transform: translateX(-300%);
      scale: 0.7;
    }
    100% {
      transform: translateX(0);
      scale: 1;
    }
  }

  .slide-hero p {
    font-size: clamp(1.2rem, 4vw, 1.4rem);
    animation: slideText 1.5s ease-in-out;
    margin: 0 0;
  }

  @keyframes slideText {
    0% {
      transform: translateX(-300%);
      scale: 0.7;
    }
    100% {
      transform: translateX(0);
      scale: 1;
    }
  }

  .sticky-nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.2s;
    padding-top: 1rem;
  }

  .mobileSticky {
    position: sticky;
    top: 0;
    padding: 1rem 2rem 1rem 2rem;
    background: var(--colorFont);
    color: var(--colorBase);
    z-index: 10000;
    transition: 0.4s;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .abrirMenu,
  .cerrarMenu {
    display: block;
    border: 0;
    font-size: 1.8rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrirMenu {
    color: var(--colorBase);
  }

  .cerrarMenu {
    color: var(--colorFont);
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    width: 45%;
  }

  .nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    position: absolute;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorBase);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.9);
    z-index: 10000;
  }

  .navVisible {
    opacity: 1;
    visibility: visible;
  }

  .navList {
    flex-flow: column;
    align-items: center;
    margin: 4rem 0 2rem 0;
  }

  .navList li a {
    color: var(--colorFont);
    padding: 0.4rem 0.5rem;
    margin: 0 0;
  }

  .navWidth {
    flex-flow: column;
  }

  .slide-new img {
    max-width: 100%;
    height: 55vh;
  }

  #botonAbrirModalNav {
    display: none;
  }

  .somosCodingSolutionsContainer {
    width: 100%;
    flex-flow: column;
  }

  .somosCodingSolutionsItem img {
    animation: respiracion 5s ease-in-out infinite;
  }

  @keyframes respiracion {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.04);
    }
  }

  #somosCodingSolutions {
    margin-top: 2rem;
  }

  .contactoContainer {
    width: 100%;
  }

  #contacto {
    background-position: left;
  }

  .contactoContainer p {
    padding: 0 5%;
  }

  #avisosContainer {
    width: 80%;
    height: 40vh;
    background-image: url(../media/img/hero/heroMobile1.jpg);
    background-size: cover;
  }

  #nuestrosProyectos {
    flex-flow: column;
  }

  .contactoOpciones {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .contactoOpciones ul li {
    margin-left: 0;
  }

  #formContacto {
    width: 100%;
    height: auto;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    padding: 1rem 1.4rem;
    padding-bottom: 4rem;
  }

  .footer-left nav {
    display: none;
  }

  footer {
    flex-direction: column;
    padding: 4rem 0 2rem 0;
  }

  #footerContainer {
    width: 100%;
    padding: 0 2rem;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-left {
    order: 2;
  }

  .footer-right {
    align-items: flex-start;
    order: 1;
  }

  #botonAbrirModal {
    margin-bottom: 2rem;
  }

  #botonCerrarModal {
    right: 0;
  }

  #botonCerrarModal2 {
    display: inline-block;
    margin-bottom: 3rem;
  }

  #botonCerrarModal img {
    width: 40px;
  }

  #modal h3 {
    margin: 1rem 2rem;
  }

  #modal p {
    width: 80%;
  }

  .infoDesktop {
    display: none;
  }

  .infoMobile {
    display: inline-block;
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 0 2rem;
    margin: 0 0;
  }

  .subscribe {
    display: none;
  }
}
