* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorWhite: #f1f6f9;
  --colorBase: #9ba4b4;
  --colorPrimary: #394867;
  --colorFont: #14274e;
  --fontFamily: "Kanit";
}

::selection {
  background: var(--colorPrimary);
  color: var(--colorBase);
}

body {
  background-color: var(--colorBase);
  color: var(--colorFont);
  font-family: var(--fontFamily), sans-serif;
}

#mensajeSlider {
  width: 100%;
  overflow: hidden;
  z-index: 100000;
  position: fixed;
  top: 0;
  background-color: var(--colorFont);
}

#diaSemanaNav {
  text-transform: uppercase;
}

.carousel-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: var(--colorFont);
}

.carousel-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--colorBase);
  overflow: hidden;
  padding: 0.6rem 0;
  font-size: clamp(0.6rem, 2vw, 0.8rem);
}

.carousel-text:hover {
  background-color: var(--colorBase);
  color: var(--colorFont);
}

.infoSliderSticky {
  position: sticky;
  top: 0;
  z-index: 10000;
  transition: 1s;
  margin: 0 0;
  padding: 0 0;
}

/* HERO */

.slider-container-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 20vh;
  overflow: hidden;
  background-image: url(../media/img/hero/hero1.jpg);
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 100;
}

.slide-hero {
  padding: 4rem 4rem;
  background-color: #bec8fa36;
  border-radius: 5px;
  animation: popUp 1s ease-in forwards;
}

@keyframes popUp {
  0% {
    filter: blur(5px);
    scale: 0.8;
  }
  100% {
    filter: blur(0);
    scale: 1;
  }
}

.slide-hero h1 {
  font-size: clamp(1rem, 2vw, 4rem);
  margin: 0 0 4rem 0;
  z-index: 10000;
  font-size: 5rem;
  font-weight: 800;
  font-style: italic;
  color: var(--colorBase);
  transition: 0.5s;

  background: linear-gradient(
    to left,
    var(--colorBase) 35%,
    rgb(255, 255, 255) 60%,
    var(--colorBase) 75%
  );
  background-size: 250% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: tittleAnimation 10s linear infinite;
}

@keyframes tittleAnimation {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 75%;
  }
}

.slide-hero p {
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-weight: 600;
  font-style: italic;
  color: var(--colorBase);
  transition: 0.5s;
}

.textoResaltado {
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  background: linear-gradient(
    to left,
    var(--colorFont) 35%,
    var(--colorBase) 50%,
    var(--colorFont) 85%
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: tittleAnimation 15s linear infinite;
}

/* nav */
.nav {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  background-color: var(--colorFont);
  color: var(--colorBase);
  width: 100%;
}

.navWidth {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  z-index: 1000;
  transition: 0.3s;
}

.underlined-hover {
  position: relative;
  text-decoration: none;
  color: var(--colorFont);
}

.underlined-hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--colorWhite); /* Color del subrayado */
  transition: 0.5s ease;
}

.underlined-hover:hover::before {
  width: 100%;
}

#botonAbrirModalNav {
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  background-color: var(--colorBase);
  color: var(--colorFont);
  border-radius: 2px;
  transition: 0.3s;
  padding: 0.5rem 1.4rem;
}

#botonAbrirModalNav:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.sticky {
  position: sticky;
  top: 2rem;
  background: var(--colorFont);
  color: var(--colorBase);
  transition: 0.2s;
  overflow: hidden;
  z-index: 1000;
}

.navList {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  align-items: center;
}

.navList ul li {
  padding: 0.8rem 1.4rem;
}

.navList li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.15s ease-in-out;
}

.navList li a {
  text-decoration: none;
  color: var(--colorTittle);
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0.8rem 1rem;
  margin: 0 0.5rem;
  border-radius: 2px;
  transition: 0.3s;
}

.navList li a:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
  transition: 0.2s;
}

.abrirMenu,
.cerrarMenu {
  display: none;
}

/* somosCodingSolutions */

#somosCodingSolutions {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#somosCodingSolutions h2 {
  font-size: clamp(1.8rem, 2vw, 2rem);
  margin: 2rem 0 4rem 0;
}

.somosCodingSolutionsContainer {
  width: 80%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.somosCodingSolutionsItem {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 3rem;
}

.somosCodingSolutionsItem img {
  max-width: 100%;
  border-radius: 2px;
}

.somosCodingSolutionsItem p {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  margin: 1rem 0;
}

.secundaryText {
  font-size: clamp(0.5rem, 2vw, 0.6rem);
  color: var(--colorPrimary);
}

/* efecto underline carga */
.underlined-hover-destacados {
  position: relative;
  text-decoration: none;
  color: var(--colorFont);
}

.underlined-hover-destacados::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--colorWhite); /* Color del subrayado */
  transition: 0.5s ease;
}

.underlined-hover-destacados:hover::before {
  width: 100%;
}

/* contacto */

#contacto {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  margin-bottom: 5rem;
  padding-bottom: 2.5rem;
  background-image: url("../media/img/hero/hero2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.contactoContainer {
  width: 60%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.contactoContainer h4 {
  color: var(--colorBase);
  font-size: clamp(1rem, 2vw, 1rem);
  margin-bottom: 1rem;
}

.contactoContainer h2 {
  color: var(--colorBase);
  font-size: clamp(1.4rem, 2vw, 4rem);
  letter-spacing: 2px;
}

#diaSemanaContacto {
  text-transform: uppercase;
}

.contactoContainer p {
  padding: 0 25%;
  text-align: start;
  color: var(--colorBase);
  margin: 1rem;
}

.contactoContainer a {
  text-decoration: none;
  padding: 10px 1.5rem;
  background-color: var(--colorBase);
  border-radius: 2px;
  margin: 2rem 0;
  transition: 0.3s;
}

.contactoContainer a:hover {
  background-color: var(--colorFont);
  transition: 0.3s;
}

.contactoContainer a:hover h3 {
  color: var(--colorBase);
  transition: 0.3s;
}

.contactoContainer a h3 {
  color: var(--colorFont);
  font-size: clamp(1rem, 2vw, 1.4rem);
  transition: 0.3s;
}

/* AVISOS */
#avisos {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#avisosContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 3.5rem 0;
  margin: 1rem 0;
  background-image: url(../media/img/hero/hero3.jpg);
}

#avisosContainer h3 {
  font-size: clamp(0.8rem, 2vw, 1rem);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--colorBase);
  background-color: var(--colorFont);
  padding: 1rem 1rem;
  word-spacing: 1px;
}

/* Nuestros proyectos */

#nuestrosProyectos {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}

#nuestrosProyectos h2 {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  margin: 3rem 0 2rem 0;
}

.nuestrosProyectosContainer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}

.nuestrosProyectosItem {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.nuestrosProyectosItem a {
  text-decoration: none;
  color: var(--colorFont);
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.nuestrosProyectosItem img {
  max-width: 100%;
}

.nuestrosProyectosItem h3 {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  margin: 1rem 0 0.5rem 0;
}

.nuestrosProyectosItem h4 {
  font-size: clamp(0.6rem, 2vw, 0.8rem);
  color: var(--colorFont);
}

/* newletter */

#newsletter {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;

  background-color: var(--colorPrimary);
  color: var(--colorBase);
}

#newsletterContainer {
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

#newsletterContainer h3 {
  font-size: clamp(1.4rem, 2vh, 1.8rem);
  text-transform: uppercase;
  margin: 3rem 0 1rem 0;
}

#newsletterContainer h4 {
  font-size: clamp(0.7rem, 2vw, 1rem);
  margin: 0 1rem 0;
}

#newsletterContainer form {
  margin-bottom: 3rem;
  margin: 2rem 0;
}

#newsletterContainer form input {
  border: none;
  height: 2rem;
  padding-left: 1rem;
}

#newsletterContainer form input[type="submit"] {
  padding: 0.5rem 2rem;
  background-color: var(--colorFont);
  color: var(--colorPrimary);
  cursor: pointer;
}

footer {
  background-color: var(--colorFont);
  color: var(--colorBase);
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#footerContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-left ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-left: 2px dashed rgba(255, 255, 255, 0.4);
  padding-left: 0.5rem;
}

.footer-left ul li {
  padding: 0.5rem 0.5rem;
}

footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer nav ul li {
  display: inline;
  margin: 0.2rem 0;
  border-radius: 2px;
  width: 100%;
  text-align: start;
}

footer nav ul li a {
  color: var(--colorBase);
  text-decoration: none;
  padding: 0.5rem 2rem;
}

footer nav ul li:hover {
  background-color: var(--colorPrimary);
}

.footer-midle-info h3 {
  margin: 1rem 0 1rem 0;
}

.footer-midle-info a {
  text-decoration: none;
  color: var(--colorBase);
}

.footer-midle-info a:hover {
  text-decoration: underline;
}

.footer-midle-info p {
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0.5rem 0;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-right .social-media {
  margin-bottom: 20px;
}

.footer-right h3 {
  margin-bottom: 1rem;
}

.social-icons img {
  width: 36px;
  margin-right: 10px;
  border-radius: 100%;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-icons img {
  width: 40px;
  margin-right: 10px;
  border-radius: 2px;
}

.footer-info {
  margin-top: 2rem;
}

.footer-info p {
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0.3rem 0;
}

#footerLogo {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: var(--colorFont);
}

#footerLogo img {
  width: clamp(150px, 2vw, 200px);
}

#novedadesCallToAction {
  position: fixed;
  padding: 1rem 1.4rem;
  border-radius: 0.3rem;
  bottom: 20px;
  right: 20px;
  background: rgb(232, 112, 0);
  color: var(--colorBase);
  text-align: center;
  font-size: 0.8rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  overflow: hidden;
  cursor: pointer;
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

#cerrarNovedades {
  position: absolute;
  top: -10px; /* ajusta según necesites */
  right: -10px; /* ajusta según necesites */
  margin: 10px 10px;
  border: none;
  background-color: #e87000;
  cursor: pointer;
}

#closeMsg {
  width: 20px;
}

.novedadesTitulo {
  text-transform: uppercase;
}

#novedadesForm {
  position: absolute;
  visibility: hidden;
  margin: 0 0.5rem;
  transition: 0.5s;
}

.novedadesContainerTransition {
  transition: 0.7s;
}

.novedadesSlide {
  animation: slide 0.5s ease-in-out forwards;
  transform: translateX(200%);
}

@keyframes slide {
  to {
    transform: translateX(0);
  }
  from {
    transform: translateX(-200%);
  }
}

.novedadesForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#novedadesForm input:first-child {
  margin: 1rem 0;
}

.novedadesInfo {
  font-size: 0.8rem;
  margin: 1rem 0;
  text-align: center;
}

#email {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--colorBase);
  color: var(--colorPrimary);
}

#objetoPreferido {
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: var(--colorBase);
  color: var(--colorPrimary);
}

#enviar {
  border: none;
  background-color: var(--colorBase);
  color: var(--colorPrimary);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#enviar:hover {
  color: var(--colorFont);
  border: 1px solid var(--colorFont);
}

#modalContainer {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.98);
  border-radius: 3px;
  margin: 1rem 1rem;
}

#botonAbrirModal {
  border: none;
  background-color: var(--colorFont);
  color: var(--colorBase);
}

#botonAbrirModal:hover {
  text-decoration: underline;
}

#botonCerrarModal {
  border: none;
  background-color: var(--colorFont);
  border-radius: 100%;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 2rem;
}

#botonCerrarModal2 {
  background-color: transparent;
  border: none;
}

#botonCerrarModal img {
  width: 60px;
}

#modal {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url(../media/img/hero/hero3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#modalLogo {
  width: 200px;
}

#modal h2 {
  color: var(--colorBase);
  margin-bottom: 2rem;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}

#modal h3 {
  color: var(--colorBase);
  margin: 0.5rem 0;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

#modal p {
  color: var(--colorBase);
  text-align: center;
  width: 60%;
  word-spacing: 1px;
  margin-bottom: 3rem;
}

.infoMobile {
  display: none;
}

@media (min-width: 1401px) and (max-width: 1800px) {
  .slider-container-hero {
    height: 70vh;
  }

  .navList {
    display: flex;
    list-style-type: none;
    gap: 0;
    margin-left: 5rem;
  }
}

@media (min-width: 1001px) and (max-width: 1400px) {
  .slider-container-hero {
    height: 50vh;
  }
  .somosCodingSolutionsContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .nuestrosProyectosContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  #mensajeSlider {
    display: none;
  }

  .slide-hero {
    padding: 3rem 1rem;
    margin: 1rem 1rem;
  }

  .slide-hero h1 {
    font-size: 2rem;
  }

  .slider-container-hero {
    height: 100vh;
  }

  .sticky-nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.2s;
    padding-top: 1rem;
  }

  .mobileSticky {
    position: sticky;
    top: 0;
    padding: 2rem 2rem 1rem 2rem;
    background: var(--colorFont);
    color: var(--colorBase);
    z-index: 10000;
    transition: 0.4s;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .abrirMenu,
  .cerrarMenu {
    display: block;
    border: 0;
    font-size: 1.8rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrirMenu {
    color: var(--colorTittle);
  }

  .cerrarMenu {
    color: var(--colorTittle);
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    width: 45%;
  }

  .nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    position: absolute;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorBase);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 1);
    z-index: 10000;
  }

  .navVisible {
    opacity: 1;
    visibility: visible;
  }

  .navList {
    flex-flow: column;
    align-items: center;
    margin: 4rem 0 2rem 0;
  }

  .navList li a {
    color: var(--colorTittle);
  }

  .slide-new img {
    max-width: 100%;
    height: 55vh;
  }

  .contactoContainer {
    width: 100%;
  }

  #contacto {
    background-position: left;
  }
  

  .contactoContainer p {
    padding: 0 5%;
  }

  #avisosContainer {
    width: 80%;
    height: 35vh;
  }

  .somosCodingSolutionsContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .nuestrosProyectosContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .footer-left nav {
    display: none;
  }

  footer {
    flex-direction: column;
    padding: 4rem 0 2rem 0;
  }

  #footerContainer {
    width: 100%;
    padding: 0 2rem;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-left {
    order: 2;
  }

  .footer-right {
    align-items: flex-start;
    order: 1;
  }

  #botonAbrirModal {
    margin-bottom: 2rem;
  }

  #botonCerrarModal {
    right: 0;
  }

  #botonCerrarModal2 {
    display: inline-block;
    margin-bottom: 3rem;
  }

  #botonCerrarModal img {
    width: 40px;
  }

  #modal h3 {
    margin: 1rem 2rem;
  }

  #modal p {
    width: 80%;
  }

  .infoDesktop {
    display: none;
  }

  .infoMobile {
    display: inline-block;
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 0 2rem;
    margin: 0 0;
  }
}
